name: Linux MinGW Build Upload

on:
  workflow_dispatch:

jobs:
  build-flac-deps:
    name: Build Flac Deps ${{ matrix.config }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - config: static
            shared_flags: --enable-static --disable-shared
            cflags: -O2 -DFLAC__NO_DLL
            ldflags: -static -static-libgcc -static-libstdc++
          - config: dynamic
            shared_flags: --enable-shared --disable-static
            cflags: -O2
            ldflags: ""
    env:
      HOST: x86_64-w64-mingw32
      PREFIX: ${{ github.workspace }}/mingw/${{ matrix.config }}
      SRC_DIR: ${{ github.workspace }}/_deps/${{ matrix.config }}
      PKG_CONFIG_PATH: ${{ github.workspace }}/mingw/${{ matrix.config }}/lib/pkgconfig
      PKG_CONFIG_LIBDIR: ${{ github.workspace }}/mingw/${{ matrix.config }}/lib/pkgconfig

    steps:
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y autoconf automake libtool libtool-bin pkg-config make mingw-w64 git gettext

      - name: Fetch dependency sources
        run: |
          set -eux
          mkdir -p "$SRC_DIR"
          cd "$SRC_DIR"
          git clone https://gitlab.xiph.org/xiph/ogg.git
          git clone https://gitlab.xiph.org/xiph/flac.git

      - name: Build libogg
        run: |
          set -eux
          cd "$SRC_DIR/ogg"
          ./autogen.sh
          BUILD=$(./config.guess)
          mkdir -p build-${{ matrix.config }}
          cd build-${{ matrix.config }}
          CC=${HOST}-gcc \
          CXX=${HOST}-g++ \
          AR=${HOST}-ar \
          RANLIB=${HOST}-ranlib \
          STRIP=${HOST}-strip \
          WINDRES=${HOST}-windres \
          CFLAGS="${{ matrix.cflags }}" \
          LDFLAGS="${{ matrix.ldflags }}" \
          ../configure \
            --host=$HOST \
            --build=$BUILD \
            --prefix="$PREFIX" \
            ${{ matrix.shared_flags }}
          make -j"$(nproc)"
          make install

      - name: Build flac
        run: |
          set -eux
          cd "$SRC_DIR/flac"
          ./autogen.sh
          BUILD=$(./config.guess)
          mkdir -p build-${{ matrix.config }}
          cd build-${{ matrix.config }}
          CC=${HOST}-gcc \
          CXX=${HOST}-g++ \
          AR=${HOST}-ar \
          RANLIB=${HOST}-ranlib \
          STRIP=${HOST}-strip \
          WINDRES=${HOST}-windres \
          CFLAGS="${{ matrix.cflags }}" \
          LDFLAGS="${{ matrix.ldflags }}" \
          PKG_CONFIG_PATH="$PKG_CONFIG_PATH" \
          PKG_CONFIG_LIBDIR="$PKG_CONFIG_LIBDIR" \
          ../configure \
            --host=$HOST \
            --build=$BUILD \
            --prefix="$PREFIX" \
            ${{ matrix.shared_flags }}
          make -j"$(nproc)"
          make install

      - name: Upload flac deps
        uses: actions/upload-artifact@v4
        with:
          name: flac-deps-${{ matrix.config }}
          path: ${{ env.PREFIX }}

  build-opus-deps:
    name: Build Opus Deps ${{ matrix.config }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - config: static
            shared_flags: --enable-static --disable-shared
            cflags: -O2 -DFLAC__NO_DLL
            ldflags: -static -static-libgcc -static-libstdc++
          - config: dynamic
            shared_flags: --enable-shared --disable-static
            cflags: -O2
            ldflags: ""
    env:
      HOST: x86_64-w64-mingw32
      PREFIX: ${{ github.workspace }}/mingw/${{ matrix.config }}
      SRC_DIR: ${{ github.workspace }}/_deps/${{ matrix.config }}
      PKG_CONFIG_PATH: ${{ github.workspace }}/mingw/${{ matrix.config }}/lib/pkgconfig
      PKG_CONFIG_LIBDIR: ${{ github.workspace }}/mingw/${{ matrix.config }}/lib/pkgconfig

    steps:
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y autoconf automake libtool libtool-bin pkg-config make mingw-w64 git gettext

      - name: Fetch dependency sources
        run: |
          set -eux
          mkdir -p "$SRC_DIR"
          cd "$SRC_DIR"
          git clone https://gitlab.xiph.org/xiph/ogg.git
          git clone https://gitlab.xiph.org/xiph/opus.git
          git clone https://gitlab.xiph.org/xiph/opusfile.git
          git clone https://gitlab.xiph.org/xiph/libopusenc.git

      - name: Build libogg
        run: |
          set -eux
          cd "$SRC_DIR/ogg"
          ./autogen.sh
          BUILD=$(./config.guess)
          mkdir -p build-${{ matrix.config }}
          cd build-${{ matrix.config }}
          CC=${HOST}-gcc \
          CXX=${HOST}-g++ \
          AR=${HOST}-ar \
          RANLIB=${HOST}-ranlib \
          STRIP=${HOST}-strip \
          WINDRES=${HOST}-windres \
          CFLAGS="${{ matrix.cflags }}" \
          LDFLAGS="${{ matrix.ldflags }}" \
          ../configure \
            --host=$HOST \
            --build=$BUILD \
            --prefix="$PREFIX" \
            ${{ matrix.shared_flags }}
          make -j"$(nproc)"
          make install

      - name: Build opus
        run: |
          set -eux
          cd "$SRC_DIR/opus"
          ./update_version
          ./autogen.sh
          BUILD=$(./config.guess)
          mkdir -p build-${{ matrix.config }}
          cd build-${{ matrix.config }}
          CC=${HOST}-gcc \
          CXX=${HOST}-g++ \
          AR=${HOST}-ar \
          RANLIB=${HOST}-ranlib \
          STRIP=${HOST}-strip \
          WINDRES=${HOST}-windres \
          CFLAGS="${{ matrix.cflags }}" \
          LDFLAGS="${{ matrix.ldflags }}" \
          ../configure \
            --host=$HOST \
            --build=$BUILD \
            --prefix="$PREFIX" \
            ${{ matrix.shared_flags }}
          make -j"$(nproc)"
          make install

      - name: Build opusfile
        run: |
          set -eux
          cd "$SRC_DIR/opusfile"
          ./autogen.sh
          BUILD=$(./config.guess)
          mkdir -p build-${{ matrix.config }}
          cd build-${{ matrix.config }}
          CC=${HOST}-gcc \
          CXX=${HOST}-g++ \
          AR=${HOST}-ar \
          RANLIB=${HOST}-ranlib \
          STRIP=${HOST}-strip \
          WINDRES=${HOST}-windres \
          CFLAGS="${{ matrix.cflags }}" \
          LDFLAGS="${{ matrix.ldflags }}" \
          PKG_CONFIG_PATH="$PKG_CONFIG_PATH" \
          PKG_CONFIG_LIBDIR="$PKG_CONFIG_LIBDIR" \
          ../configure \
            --host=$HOST \
            --build=$BUILD \
            --prefix="$PREFIX" \
            --disable-http \
            --disable-doc \
            --disable-examples \
            ${{ matrix.shared_flags }}
          make -j"$(nproc)"
          make install

      - name: Build libopusenc
        run: |
          set -eux
          cd "$SRC_DIR/libopusenc"
          ./autogen.sh
          BUILD=$(./config.guess)
          mkdir -p build-${{ matrix.config }}
          cd build-${{ matrix.config }}
          CC=${HOST}-gcc \
          CXX=${HOST}-g++ \
          AR=${HOST}-ar \
          RANLIB=${HOST}-ranlib \
          STRIP=${HOST}-strip \
          WINDRES=${HOST}-windres \
          CFLAGS="${{ matrix.cflags }}" \
          LDFLAGS="${{ matrix.ldflags }}" \
          PKG_CONFIG_PATH="$PKG_CONFIG_PATH" \
          PKG_CONFIG_LIBDIR="$PKG_CONFIG_LIBDIR" \
          ../configure \
            --host=$HOST \
            --build=$BUILD \
            --prefix="$PREFIX" \
            ${{ matrix.shared_flags }}
          make -j"$(nproc)"
          make install

      - name: Upload opus deps
        uses: actions/upload-artifact@v4
        with:
          name: opus-deps-${{ matrix.config }}
          path: ${{ env.PREFIX }}

  build-opus-tools:
    name: Build Opus Tools ${{ matrix.config }}
    needs: [build-flac-deps, build-opus-deps]
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - config: static
            os: ubuntu-latest
            shared_flags: --enable-static --disable-shared
            cflags: -O2 -DFLAC__NO_DLL
            ldflags: -static -static-libgcc -static-libstdc++
            pkg_config_cmd: pkg-config --static
            artifact_name: opus-tools-windows-mingw-static
          - config: dynamic
            os: windows-latest
            shared_flags: --enable-shared --disable-static
            cflags: -O2
            ldflags: ""
            pkg_config_cmd: pkg-config
            artifact_name: opus-tools-windows-mingw-dynamic
    env:
      HOST: x86_64-w64-mingw32
      PREFIX: ${{ github.workspace }}/mingw/${{ matrix.config }}
      PKG_CONFIG_PATH: ${{ github.workspace }}/mingw/${{ matrix.config }}/lib/pkgconfig
      PKG_CONFIG_LIBDIR: ${{ github.workspace }}/mingw/${{ matrix.config }}/lib/pkgconfig

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies (Linux)
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y autoconf automake libtool libtool-bin pkg-config make mingw-w64 gettext

      - name: Setup MSYS2 (Windows)
        if: runner.os == 'Windows'
        uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          update: true
          install: >-
            base-devel
            autotools
            git
            mingw-w64-x86_64-toolchain
            pkg-config

      - name: Download flac deps
        uses: actions/download-artifact@v4
        with:
          name: flac-deps-${{ matrix.config }}
          path: ${{ env.PREFIX }}

      - name: Download opus deps
        uses: actions/download-artifact@v4
        with:
          name: opus-deps-${{ matrix.config }}
          path: ${{ env.PREFIX }}

      - name: Build opus-tools (Linux)
        if: runner.os == 'Linux'
        run: |
          set -eux
          ./autogen.sh
          BUILD=$(./config.guess)
          mkdir -p build-${{ matrix.config }}
          cd build-${{ matrix.config }}
          CC=${HOST}-gcc \
          CXX=${HOST}-g++ \
          AR=${HOST}-ar \
          RANLIB=${HOST}-ranlib \
          STRIP=${HOST}-strip \
          WINDRES=${HOST}-windres \
          PKG_CONFIG="${{ matrix.pkg_config_cmd }}" \
          CFLAGS="${{ matrix.cflags }}" \
          LDFLAGS="${{ matrix.ldflags }}" \
          PKG_CONFIG_PATH="$PKG_CONFIG_PATH" \
          PKG_CONFIG_LIBDIR="$PKG_CONFIG_LIBDIR" \
          ../configure \
            --host=$HOST \
            --build=$BUILD \
            --prefix="$PREFIX" \
            --with-flac \
            ${{ matrix.shared_flags }}
          make -j"$(nproc)"
          make install

      - name: Build opus-tools (Windows)
        if: runner.os == 'Windows'
        shell: msys2 {0}
        run: |
          ./autogen.sh
          mkdir -p build-${{ matrix.config }}
          cd build-${{ matrix.config }}
          
          # Convert paths to MSYS2 format
          export PREFIX=$(cygpath -u "$PREFIX")
          export PKG_CONFIG_PATH=$(cygpath -u "$PKG_CONFIG_PATH")
          export PKG_CONFIG_LIBDIR=$(cygpath -u "$PKG_CONFIG_LIBDIR")
          
          PKG_CONFIG="${{ matrix.pkg_config_cmd }}" \
          CFLAGS="${{ matrix.cflags }}" \
          LDFLAGS="${{ matrix.ldflags }}" \
          ../configure \
            --prefix="$PREFIX" \
            --with-flac \
            ${{ matrix.shared_flags }}
          
          make -j$(nproc)
          make install

#      - name: Package dynamic dependencies
#        if: matrix.config == 'dynamic'
#        run: |
#          set -eux
#          # Copy MinGW runtime DLLs
#          # Search in common locations for MinGW libraries
#          SEARCH_PATHS="/usr/lib/gcc/x86_64-w64-mingw32 /usr/x86_64-w64-mingw32"
#          
#          # Copy libgcc (usually libgcc_s_seh-1.dll for 64-bit)
#          find $SEARCH_PATHS -name "libgcc_s_*-1.dll" -exec cp {} "$PREFIX/bin/" \; -quit
#          
#          # Copy libstdc++
#          find $SEARCH_PATHS -name "libstdc++-6.dll" -exec cp {} "$PREFIX/bin/" \; -quit
#          
#          # Copy libwinpthread
#          find $SEARCH_PATHS -name "libwinpthread-1.dll" -exec cp {} "$PREFIX/bin/" \; -quit
#          
#          # Copy libssp (often missed, causes silent failure)
#          find $SEARCH_PATHS -name "libssp-0.dll" -exec cp {} "$PREFIX/bin/" \; -quit
#
#          # List contents for debugging
#          echo "Contents of bin directory:"
#          ls -R "$PREFIX/bin"
#          
#          # Check dependencies of the main executable
#          echo "Dependencies of opusenc.exe:"
#          x86_64-w64-mingw32-objdump -p "$PREFIX/bin/opusenc.exe" | grep "DLL Name" || true

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.artifact_name }}
          path: ${{ env.PREFIX }}
